@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ROPOT-System</h1>
    <p class="lead">ROPOT-System is a system for managing tests for students</p>
    <p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a>
            <a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a>
        }
    </p>
</div>

<div class="row">
@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-4">
        <h2>My tests</h2>
        <p>List all your avilable tests.</p>
        <p><a class="btn btn-default" href="/TestScheme/MyTests">List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Score</h2>
        <p>See your score.</p>
        <p><a class="btn btn-default" href="/Test">List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join group</h2>
        <p>Join to other groups.</p>
        <p><a class="btn btn-default" href="/StudentGroup/JoinGroup">Join &raquo;</a></p>
    </div>
}
@if (User.IsInRole("Teacher"))
{
    <div class="col-md-4">
        <h2>Topics</h2>
        <p>List the topics.</p>
        <p><a class="btn btn-default" href="/Topic">List &raquo;</a></p>
        <p><a class="btn btn-default" href="/Topic/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Groups</h2>
        <p>List student groups.</p>
        <p><a class="btn btn-default" href="/StudentGroup">List &raquo;</a></p>
        <p><a class="btn btn-default" href="/StudentGroup/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test schemes</h2>
        <p>List test schemes.</p>
        <p><a class="btn btn-default" href="/TestScheme">List &raquo;</a></p>
        <p><a class="btn btn-default" href="/TestScheme/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Questions</h2>
        <p>List the questions</p>
        <p><a class="btn btn-default" href="/Question">List &raquo;</a></p>
        <p><a class="btn btn-default" href="/Question/Create">Create &raquo;</a></p>
    </div>
}

</div>