@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ROPOT-System</h1>
    <p class="lead">ROPOT-System is a system for managing tests for students</p>
    <p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a>
            <a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a>
        }
    </p>
</div>  

<div>
    <div class="row">
        <div class="col-md-6">
            <h4>Before start.</h4>
            <ol>
                <li>Run seed method to insert roles and Base topic to.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <h4>How to use?</h4>
            <ol>
                <li>Register a user with role teacher or student (just teacher can manage tests, topics, etc.)</li>
                <li>Create topics needed in tests in the Topics section. Topics are structured into tree structure. Every topic needs a parent topic (base topic is the root)</li>
                <li>Create Questions for the topics in the Questions section. After creating the question, you can add options in the question detail section.</li>
                <li>Create student groups for the students. Students will have to enter the setted up code to join the group.</li>
                <li>Create Test scheme. Topics and student groups are needed to setup the test scheme. Questions will be randomly selected from the assigned questions to the selected topics when the student lunches the test.</li>
                <li>That's it. Now the student's can join the student groups using the student group code and see the available tests in the My tests section.</li>
            </ol>
        </div>

    </div>
</div>